
.icon-ok:before { content: '\e800'; } /* '' */
.icon-cancel:before { content: '\e801'; } /* '' */
.icon-left-open:before { content: '\e802'; } /* '' */
.icon-right-open:before { content: '\e803'; } /* '' */
.icon-phone:before { content: '\e804'; } /* '' */
.icon-basket:before { content: '\e805'; } /* '' */
.icon-comment:before { content: '\e806'; } /* '' */
.icon-mail-alt:before { content: '\f0e0'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-facebook-circled:before { content: '\f30d'; } /* '' */
.icon-linkedin-circled:before { content: '\f319'; } /* '' */
.icon-rdio-circled:before { content: '\f325'; } /* '' */
.icon-spotify:before { content: '\f327'; } /* '' */
.icon-instagram:before { content: '\f32d'; } /* '' */