@media(max-width: 1240px)
{
    .nav a
    {
        font-size: 35px;
        margin: 16px 15px;
    }
    .nav
    {
        left: 120px;
    }
    #logo.gora
    {
        left: 60px;
        top: 58px;
        transition: all .2s ease-in-out;
    }
    #logo.dol
    {
        left: 35px;
        top: 35px;
        transition: all .2s ease-in-out;
    }
    #logo.dol .logo_text
    {
        opacity: 0;
        pointer-events: none;
    }
    #burger-btn.gora
    {
        right: 60px;
        top: 50px;
        transition: all .2s ease-in-out;
    }
    #burger-btn.dol
    {
        right: 35px;
        top: 35px;
        transition: all .2s ease-in-out;
    }
    #info
    {
        opacity: 0;
        pointer-events: none;
    }
    #slider
    {
        height: 60vw;
        padding-top: 250px;
    }
    #slider > div:first-child
    {
        position: relative;
        width: 85vw;
        height: 90vw;
        top: 0;
        left: 0;
    }
    #slider img
    {
        height: 73vw;
        z-index: 400;
        position: absolute;
        left: 20vw;
        bottom: 0;
        padding-left: 0vh;
    }
    #slider p
    {
        font-size: 7vw;
        left: 3vw;
        bottom: 14vw;
        line-height: 1.1;
        text-shadow: 2px 2px #454545;
    }
    #kolo
    {
        opacity: 0;
        display: none;
    }
    .soc
    {
        opacity: 0;
        pointer-events: none;
    }
    .pad2 button
    {
        width:34vw;
    }
    .pad2 input
    {
        width:70vw;
    }
}